.summaryCard {
  display: flex;
  align-items: center;
  flex-direction: column;
  border-radius: 10px;
  height: 500px;
  width: 350px;
  background: white;
  box-shadow: 0px 0px 19px hsl(223, 47%, 23%);
}

.summaryCard__content {
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.summaryCard__image {
  width: 100%;
}

.summaryCard__image > img {
  width: 100%;
  object-fit: contain;
  overflow: hidden;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

.summaryCard__button {
  display: flex;
  flex-direction: column;
}

.summaryCard__button > button {
  margin-bottom: 10px;
}

.summaryCard__content__billing_info {
  gap: 1rem;
  display: flex;
  align-items: center;
}

.summaryCard__content__billing_info__description {
  display: flex;
  flex-direction: column;
}

.summaryCard__link {
  margin-left: auto;
}
